.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(2em + 3vw * 5) 0 5vw 0;
    gap: 2vw;

    animation: fadeIn cubic-bezier(0.5, 0, 0.2, 1) 0.5s;

    .rowContainer {
        width: 90%;
        max-width: calc(800px + 60px + 3em);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;
    }

    p {
        width: 90%;
        max-width: 800px;
        font-weight: 200;
        font-size: clamp(0.8em, 4vw, 1.75em);

        b {
            font-weight: 500;
        }

        &.title {
            font-weight: 500;
        }
    }

}

.services {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10vw 0;
    gap: 2em;

    animation: fadeIn cubic-bezier(0.5, 0, 0.2, 1) 0.5s;

    // background: rgb(255, 57, 67);

    h2 {
        width: 90%;
        max-width: 800px;
        font-size: clamp(0.8em, 4vw, 1.75em);
        font-weight: 200;
        margin-bottom: 2vw;
    }

    .category {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5em;

        width: 90%;
        max-width: 800px;
        font-weight: 200;
        font-size: clamp(0.8em, 3vw, 1em);

        & > * {
            // border: 1px solid red;
        }

        h3 {
            white-space: nowrap;
            font-weight: 500;
        }

        .indexline {
            display: block;
            border-bottom: 1px dotted rgba(var(--foreground-rgb), 0.5);
            width: 100%;
            height: 1.1em;
        }

        ul {
            width: 7.5em;
            flex-shrink: 0;
            li {
                white-space: nowrap;
                margin-bottom: 0.15em;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}