@import './util.module.scss';

.colors {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    width: 100%;
    gap: 1em;

    .primary {
        flex: 1;
    }

    .secondary {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        gap: 1em;
        flex: 1;
    }
}

.color {
    flex: 1;
    padding: 1em;
    aspect-ratio: 4/1;
    border-radius: 1px;
}

@media screen and (min-width: 700px) {
    .colors {
        flex-direction: row;
        .secondary {
            flex: 1.5;
        }
    }
}
@media screen and (min-width: 1400px) {
    .color {
        aspect-ratio: 2.5/1;
    }
}