@import './util.module.scss';

.color {
    padding: 1em 1.1em;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: calc(100px + 20vw);
    border-radius: 2px;
    overflow: hidden;

    & > div {
        flex-basis: 50%;

        &:first-child {
            flex-basis: 100%;
        }
    }
    
}

@media screen and (min-width: 700px) {
    .colors {
        flex-direction: column;
    }
}