.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - (10em + 2vw));
    padding: calc(5em + 2vw) calc(0.5em + 5vw) 0 calc(0.5em + 2vw);

    animation: fadeIn cubic-bezier(0.5, 0, 0.2, 1) 0.5s;
    
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        width: 100%;

        .heromark {
            width: 25%;
            height: auto;
            fill: rgb(var(--foreground-rgb));
            transform: translateX(1vw);
        }

        h1 {
            font-size: clamp(1em, 5vw, 7em);
            font-family: "synthemesc", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase;
            color: rgb(var(--primary-rgb));
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}