.intro {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 900px;
    min-height: calc(100vh - (10em + 2vw));
    padding: calc(5em + 2vw) calc(0.5em + 2vw) 0 calc(0.5em + 2vw);

    animation: fadeIn cubic-bezier(0.5, 0, 0.2, 1) 0.5s;
    
    .content {
        display: flex;
        flex-wrap: wrap;
        // gap: 1.5em;
        justify-content: flex-start;
        align-items: flex-start;

        .heromark {
            width: calc(20% - 1.5em);
            height: auto;
            fill: rgb(var(--foreground-rgb));
            margin: 0.5em 1.5em 1.5em 0;
        }

        h1 {
            width: 80%;
            min-width: 350px;
            font-weight: 200;
            font-size: clamp(1em, 5vw, 2em);
        }
    }
}

.caseStudy {
    padding: 0 calc(0.5em + 2vw);

    .csBody {
        border-radius: 2px;
        padding: calc(0.5em + 2vw);
        min-height: 80vh;
        background-size: cover;
        background-position: center center;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}