.header {
    position: fixed;
    padding: calc(0.5em + 2vh);
    mix-blend-mode: difference;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    user-select: none;

    z-index: 10000;
    font-weight: 500;

    gap: 2em;
    filter: blur(0.2px);

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        color: rgb(var(--difference-rgb));

        .fullName {
            // display: none;
        }
    }
 
}

.footer {
    position: fixed;
    bottom: calc(0.5em + 2vw);
    left: 0;
    width: 100%;
    z-index: 10000;


    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    .contactbutton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - (1em + 4vw));
        border-top:1.25px solid rgba(var(--foreground-rgb), 0.95);
        background: rgba(var(--foreground-rgb), 0.95);
        color: rgb(var(--background-rgb));
        padding: 1em;
        border-radius: 3em;
    }
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    gap: 1em;
    padding: calc(1em + 2vw);
    user-select: none;
    z-index: 2000;
    mix-blend-mode: difference;
    filter: blur(0.2px);
    animation: fadeIn cubic-bezier(0.5, 0, 0.2, 1) 2s;

    .logomark, .backarrow {
        height: 30px;
        width: auto;
        fill: rgba(var(--difference-rgb));
        animation: fadeIn cubic-bezier(0.5, 0, 0.2, 1) 2s;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        height: 30px;
        gap: 2em;
        font-size: 1em;
        font-weight: 700;
        color: rgba(var(--difference-rgb));

        svg {
            height: 30px;
            width: auto;
            fill: rgb(var(--foreground-rgb));
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
