@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 8, 10, 14;
  /* --background-rgb: 255, 100, 75; */
  --difference-rgb: 255, 255, 255;
  --primary-rgb: 222, 255, 33;
  --red-rgb: 255, 33, 95;
  --green-rgb: 222, 255, 33;
  --blue-rgb: 0, 211, 255;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 8, 10, 14;
    --background-rgb: 255, 255, 255;
    --difference-rgb: 255, 255, 255;
  }
} */

html, body {
  /* height: 100%;
  overflow: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    position: relative;
    width: 90%;
    max-width: 800px;
    font-size: clamp(1.15em, 4vw, 1.75em);
    font-weight: 500;
    margin-bottom: 2vw;
  }

}

